

<% @graph.each do |graph| %>

<%= high_chart(graph.options[:title][:text], graph) %>
<% end %>

<h1><%= @year %>年<%= @month %>月のプロジェクト工数一覧</h1>
<% @tags.each do |tag| %>
  <h2><%= tag.name %></h2>
  <% @schedules.where(tag_id: tag.id).each do |s| %>
  <p>予定名：　<%= s.summary %></p>
  <p>所用時間：　<%= s.spendtime %>時間</p>
  <p>時間：　　<%= s.starttime %>　〜　<%= s.endtime %></p>
  <br>
  <% end %>
<% end %>
