<%= form_for @search, url: gcales_init_client_path(@search), html: {method: "get"} do |f| %>

<div class="field">
  <%= f.label :"月選択" %>
  <%= f.date_select :search_month, {:discard_day => true,:use_month_numbers => true},class: 'form-control' %>


  <div class="field">
    <%= fields_for(@tag) do |o| %>
    <%= o.label :"タグ" %>
    <%= o.text_field :tag %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
