
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <b>あなたの登録タグ</b><br>
    <% @tags.each do |tag| %>
    <%= tag.name %>
    <% end %>

    <br>
    <br>


    <%= form_for @search, url: gcales_init_client_path, html: {method: "get"} do |f| %>

    <div class="field">
      <%= f.label :"月を選択して表示" %>
      <%= f.date_select :search_month, {:discard_day => true,:use_month_numbers => true},class: 'form-control' %>
    </div>

      <div class="actions">
        <%= f.submit   class: 'btn btn-default btn-sm btn-success' %>
      </div>

    <% end %>
  </div>
<div>
