<p><%= notice %></p>
<% @users.each do |user|%>
<div class="container" id="users">
<div class="profile">
<p><%= link_to image_tag(user.picture), admin_admin_show_user_path(id: user.id)%></p>
</div>
<div class="profile">
<p>ユーザー名：<%= user.name %></p>
<p>アドレス：<%= user.email %></p>
</div>

<div class="table-responsive">
<table class="table">
<p class="member"><b>登録タグ一覧</b></p>
<tr>
<td><b><%= "タグワード" %></b></td>
<td><b><%= "タグの説明" %></b></td>
</tr>
<% user.tags.where.not(name:["other"]).each do |tag|%>
<tr>
<td><%= tag.name %></td>
<td><%= tag.description %></td>
<% end %>
</tr>
</table>
<br>
<br>
<p>-- END --</p>
</div>
</div>
<% end %>
</div>
</div>
