<h1><%=@user[:name]%>さん：</h1>
<p>工数管理者です。</p>
<p>お世話なります。</p>
  <br>
<p><%=@user[:year]%>年<%=@user[:month]%>月において<%=@user[:project_name]%>への使用工数が<%=@user[:project_spend_time]%>時間と
  なっており、想定工数(<%=@user[:set_time]%>時間)を超過しております。</p>

  <p>ご調整をよろしくお願いいたします。</p>
