<!DOCTYPE html>
<html>
<head>
  <title>Gcale</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
  <% if user_signed_in? %>
  　<li><%= link_to '月の工数を確認する', gcales_new_path %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path  %></li>
  <% end %>
  </header>

<%= yield %>

</body>
</html>
