<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Gcale</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <header>

    <div class="navi">
      <ul class="head">
      <!-- <li class="icon"><%= link_to image_tag('gcals_logo.png', { :size => '100x120', :alt => 'gcals'}), root_path %></li> -->
      </ul>
    </div>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
    <% if admin_signed_in? %>
      <li class="<%= 'active' if current_page?(admin_admin_index_path) %>"><%= link_to 'ADMIN_INDEX /', admin_admin_index_path %></li>
      <li class="<%= 'active' if current_page?(admin_admin_index_users_path) %>"><%= link_to 'MEMBERS /', admin_admin_index_users_path %></li>
      <li class="<%= 'active' if current_page?(admin_admin_search_user_path) %>"><%= link_to 'MEMBERS SEARCH /', admin_admin_search_user_path %></li>
      <li class="<%= 'active' if current_page?(admin_admin_comparison_working_time_path) %>"><%= link_to 'MEMBERS WORKING HOURS /', admin_admin_comparison_working_time_path %></li>
      <li class="<%= 'active' if current_page?(admin_admin_comparison_project_path) %>"><%= link_to 'MEMBERS PROJECT MANHOUR RATE /', admin_admin_comparison_project_path %></li>
      <li class="<%= 'active' if current_page?(admin_admin_custom_comparison_working_time_path) %>"><%= link_to 'CUSTOM MEMBERS WORKING HOURS /', admin_admin_custom_comparison_working_time_path %></li>
      <li class="<%= 'active' if current_page?(admin_admin_custom_comparison_project_path) %>"><%= link_to 'CUSTOM MEMBERS PROJECT MANHOUR RATE /', admin_admin_custom_comparison_project_path %></li>
      <li class="<%= 'active' if current_page?(destroy_admin_session_path) %>"><%= link_to 'LOGOUT', destroy_admin_session_path, method: :delete %></li>
    <% elsif user_signed_in? %>
      <li class="<%= 'active' if current_page?(gcales_path) %>"><%= link_to 'MY HOME /', gcales_path %></li>
      <li class="<%= 'active' if current_page?(gcales_index_month_working_hours_path) %>"><%= link_to 'WORKING HOURS /', gcales_index_month_working_hours_path %></li>
    　<li class="<%= 'active' if current_page?(gcales_index_month_project_path) %>"><%= link_to 'PROJECT MANHOUR RATE /', gcales_index_month_project_path %></li>
      <li class="<%= 'active' if current_page?(gcales_download_manual_path)%>"><%= link_to "MANUAL DOWNLOAD",{:controller => "gcales",:action=>"download_manual"} %></li>
      <li class="<%= 'active' if current_page?(destroy_user_session_path) %>"><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class="<%= 'active' if current_page?(new_user_session_path) %>"><%= link_to 'LOGIN /', new_user_session_path  %></li>
      <li class="<%= 'active' if current_page?(new_admin_session_path) %>"><%= link_to 'ADMIN_LOGIN', new_admin_session_path  %></li>

    <% end %>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</header>

<%= yield %>

<script>
$(function() {
  $('#add-tag').click(function() {
    $('#tag-field').append('<input type="text" name="projects_name[]" id="projects_" class="form-control" placeholder="タグネームを入力"/>');
    $('#tag-field').append('<input type="text" name="projects_description[]" id="projects_" class="form-control" placeholder="説明を入力"/>');
    $('#tag-field').append('　');
  });
});
</script>

</body>
</html>
